<nav
  data-aos="fade-down"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  class="header"
>
  <div class="header-left">
    <span style="color: rgb(190, 190, 190)">
      Romanos <br />
      Papanikolaou</span
    >
    <span class="portofolio">
      Portofolio <br />
      2024
    </span>
  </div>
  <div class="header-right">
    <span class="available">Available for <br />freelance work</span>
    <div class="container">
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects(Soon)</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="burger" onclick="toggleMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>

    <div class="dropdown-content">
      <a href="#about">About</a>
      <a href="#projects">Projects(Soon)</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
</nav>
