.style-2 {
  opacity: 1;
  opacity: 1;
  margin-bottom: 63.9996px;
  display: flex;
  justify-content: space-between;
  line-height: 16.8px;
  padding-left: 39.9997px;
  padding-right: 39.9997px;
  font-size: 12px;
  font-family: arial;
  box-sizing: border-box;
  margin: 0px 0px 63.9996px;
  padding: 0px 39.9997px;
  border: 0px none rgb(170, 170, 170);
}

.style-3 {
  display: flex;
  max-width: 489.997px;
  width: 100%;
  margin-right: 49.9997px;
  text-transform: uppercase;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0px 49.9997px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 12px / 16.8px arial;
}

.style-4 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 12px / 16.8px arial;
}

.style-5 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 12px / 16.8px arial;
}

.style-6 {
  box-sizing: border-box;
}

.style-7 {
  color: rgb(119, 119, 119);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 500 12px / 16.8px arial;
}

.style-8 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 500 12px / 16.8px arial;
}

.style-9 {
  box-sizing: border-box;
}

.style-10 {
  display: flex;
  max-width: 325px;
  width: 100%;
  text-transform: uppercase;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 12px / 16.8px arial;
}

.style-11 {
  display: none;
  color: rgb(119, 119, 119);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 500 12px / 16.8px arial;
}

.style-12 {
  box-sizing: border-box;
}

.style-13 {
  color: rgb(119, 119, 119);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 500 12px / 16.8px arial;
}

.style-14 {
  box-sizing: border-box;
}

.style-15 {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(170, 170, 170);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  cursor: pointer;
  box-sizing: border-box;
}

.style-16 {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px Arial;
}

.style-17 {
  display: flex;
  margin-right: 2px;
  box-sizing: border-box;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px Arial;
}

.style-18 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px Arial;
}

.style-19 {
  display: block;
  position: absolute;
  top: 18.5px;
  font-family: arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}
