<nav
  data-aos="fade-down"
  data-aos-duration="800"
  data-aos-easing="ease-in-out"
  class="header"
>
  <div class="header-left">
    <a href="#">
      Romanos <br />
      Papanikolaou</a
    >
    <span class="portofolio">
      Portofolio <br />
      2024
    </span>
  </div>
  <div class="header-right">
    <!-- <span class="available">Available for <br />freelance work</span> -->
    <a href="#projects">projects</a>
    <a href="#about">about</a>
    <a href="#contact">contact</a>
  </div>
</nav>
