<nav class="style-2">
  <div class="style-3">
    <div class="style-4">
      <span class="style-5">
        Romanos <br class="style-6" />
        Papanikolaou</span
      >
    </div>
    <div class="style-7">
      <span class="style-8">
        Frontend Developer <br class="style-9" />
        2024
      </span>
    </div>
  </div>
  <div class="style-10">
    <div class="style-11">
      Frontend Developer <br class="style-12" />
      Folio / 2021 — 2023
    </div>
    <div class="style-13">
      Available for <br class="style-14" />freelance work
    </div>
    <!-- <button class="style-15">
      <span class="style-16">
        <span class="style-17">
          <span class="style-18"> contact </span>
          <span class="style-19"> contact </span>
        </span>
      </span>
    </button> -->
  </div>
</nav>
