.header {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: space-between;
  line-height: 20px;
  font-size: 12px;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 45px;
}

.header-left {
  display: flex;
  width: 40%;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}

.header-right {
  display: flex;
  width: 30%;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
