.footer {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.style {
  color: rgb(119, 119, 119);
  text-decoration: none solid rgb(119, 119, 119);
}
