.style-271 {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 39.9997px;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 0px 39.9997px;
  border: 0px none rgb(170, 170, 170);
}

.style-272 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-273 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-274 {
  display: flex;
  margin-left: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-275 {
  margin-left: 7.99995px;
  display: flex;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-276 {
  margin-right: 7.99995px;
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(170, 170, 170);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
}

.style-277 {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-278 {
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin-right: 2px;
  box-sizing: border-box;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-279 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-280 {
  display: block;
  position: absolute;
  top: 16px;
  font-family: "Open Sauce", arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-281 {
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(170, 170, 170);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
  margin: 0px;
}

.style-282 {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-283 {
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin-right: 2px;
  box-sizing: border-box;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-284 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-285 {
  display: block;
  position: absolute;
  top: 16px;
  font-family: "Open Sauce", arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-286 {
  display: flex;
  margin-left: auto;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-287 {
  margin-left: 7.99995px;
  display: flex;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-288 {
  margin-right: 7.99995px;
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(170, 170, 170);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
}

.style-289 {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-290 {
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin-right: 2px;
  box-sizing: border-box;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-291 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-292 {
  display: block;
  position: absolute;
  top: 16px;
  font-family: "Open Sauce", arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-293 {
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(170, 170, 170);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
  margin: 0px;
}

.style-294 {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-295 {
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin-right: 2px;
  box-sizing: border-box;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-296 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-297 {
  display: block;
  position: absolute;
  top: 16px;
  font-family: "Open Sauce", arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-298 {
  left: 23.9998px;
  position: absolute;
  right: 0px;
  top: 9.99994px;
  display: flex;
  font-family: "Open Sauce", arial;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-299 {
  color: rgb(119, 119, 119);
  margin-right: 13.9999px;
  box-sizing: border-box;
  margin: 0px 13.9999px 0px 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 16px / 16px "Open Sauce", arial;
}

.style-300 {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial;
}

.style-301 {
  color: rgb(170, 170, 170);
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial;
}

.style-302 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial;
}

.style-303 {
  right: 23.9998px;
  position: absolute;
  top: 9.99994px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-304 {
  color: rgb(119, 119, 119);
  transition: color 0.3s ease 0s;
  text-decoration: none solid rgb(119, 119, 119);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(119, 119, 119);
  font: 16px / 16px "Open Sauce", arial, sans-serif;
}

.style-305 {
  opacity: 0.346547;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 11px;
  height: 754px;
  transform-origin: 11px 377px;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-306 {
  height: 96.5222px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: none;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab;
  display: none;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}
