<footer class="style-271">
  <div class="style-272">
    <div class="style-273">
      <div class="style-274">
        <div class="style-275">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="style-276"
          >
            <span class="style-277">
              <span class="style-278">
                <span class="style-279"> Facebook </span>
                <span class="style-280"> Facebook </span>
              </span>
            </span>
          </a>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="style-281"
          >
            <span class="style-282">
              <span class="style-283">
                <span class="style-284"> INSTAGRAM </span>
                <span class="style-285"> INSTAGRAM </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="style-286">
        <div class="style-287">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="style-288"
          >
            <span class="style-289">
              <span class="style-290">
                <span class="style-291"> GITHUB </span>
                <span class="style-292"> GITHUB </span>
              </span>
            </span>
          </a>
          <a
            href="#"
            class="style-293"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="style-294">
              <span class="style-295">
                <span class="style-296"> LINKEDIN </span>
                <span class="style-297"> LINKEDIN </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="style-298">
    <p class="style-299">STOCKHOLM, SWEDEN</p>
    <div class="style-300">
      <a
        class="style-301"
        title="time now"
        target="_blank"
        rel="noopener noreferrer"
      ></a>
      - <span class="style-302">22:15</span>
    </div>
  </div>
  <p class="style-303">
    &copy;2024
    <a href="#" target="_blank" rel="noopener noreferrer" class="style-304">
      Romanos Papanikolou
    </a>
  </p>
</footer>
