.footer {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.style {
  color: #777;
  text-decoration: none;
}

.style:hover {
  color: rgb(255, 80, 0);
  transition: color 0.5s;
  text-decoration: none;
}
