.style-252 {
  padding-top: 159.999px;
  box-sizing: border-box;
  display: block;
  margin: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-253 {
  max-width: 439.997px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin: 0px 500.008px 63.9996px 500px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Open Sauce", arial;
  font-size: 15.9999px;
  font-weight: 400;
  line-height: 20.7999px;
  box-sizing: border-box;
  border: 0px none rgb(170, 170, 170);
}

.style-254 {
  padding-left: 39.9997px;
  padding-right: 39.9997px;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-255 {
  opacity: 1;
  visibility: inherit;
  visibility: visible;
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-256 {
  transform: scale(0, 1);
  height: 2px;
  background: rgb(119, 119, 119) none repeat scroll 0% 0% / auto padding-box
    border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  display: block;
  transform-origin: 0px 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-257 {
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-258 {
  color: rgb(170, 170, 170);
  text-decoration: none solid rgb(170, 170, 170);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-259 {
  padding-top: 57.9996px;
  padding-bottom: 22.9999px;
  height: 240.984px;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: 25s linear 0s infinite normal none running marquee;
  will-change: transform;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-260 {
  text-transform: uppercase;
  color: rgb(119, 119, 119);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 19.9999px;
  padding-right: 19.9999px;
  font-size: 159.999px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: -3.99997px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 19.9999px;
  border: 0px none rgb(119, 119, 119);
}

.style-261 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 160);
  transition: transform 0.275s ease 0s;
  white-space: nowrap;
  padding-left: 19.9999px;
  padding-right: 19.9999px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 19.9999px;
  border: 0px none rgb(119, 119, 119);
  font: 500 159.999px / 159.999px "Bebas Neue", sans-serif;
}

.style-262 {
  text-transform: uppercase;
  color: rgb(119, 119, 119);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 19.9999px;
  padding-right: 19.9999px;
  font-size: 159.999px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: -3.99997px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 19.9999px;
  border: 0px none rgb(119, 119, 119);
}

.style-263 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 160);
  transition: transform 0.275s ease 0s;
  white-space: nowrap;
  padding-left: 19.9999px;
  padding-right: 19.9999px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 19.9999px;
  border: 0px none rgb(119, 119, 119);
  font: 500 159.999px / 159.999px "Bebas Neue", sans-serif;
}

.style-264 {
  padding-left: 39.9997px;
  padding-right: 39.9997px;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-265 {
  opacity: 1;
  visibility: inherit;
  visibility: visible;
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-266 {
  transform: scale(0, 1);
  transform-origin: 1360.02px 0px;
  height: 2px;
  background: rgb(119, 119, 119) none repeat scroll 0% 0% / auto padding-box
    border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-267 {
  padding-top: 47.9997px;
  padding-bottom: 71.9995px;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(170, 170, 170);
  font: 500 15.9999px / 15.9999px "Open Sauce", arial, sans-serif;
}

.style-268 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(170, 170, 170);
  font-weight: 500;
  cursor: pointer;
  color: rgb(170, 170, 170);
  padding: 0px;
  margin-bottom: 15.9999px;
  font-family: "Open Sauce", arial;
  font-size: 31.9998px;
  line-height: 41.5997px;
  letter-spacing: -0.799995px;
  box-sizing: border-box;
}

.style-269 {
  display: block;
  opacity: 0;
  text-transform: uppercase;
  transform: matrix(1, 0, 0, 1, 0, 20.7969);
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  font-family: "Open Sauce", arial;
  font-size: 15.9999px;
  font-weight: 400;
  line-height: 20.7999px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(170, 170, 170);
}

.style-270 {
  padding: 5px 8px;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 45px;
  box-sizing: border-box;
  margin: 0px;
  font: 15.9999px / 20.7999px "Open Sauce", arial;
}
