<section id="contact" class="contact">
  <p class="home__contact">
    Wanna know everything about me? Fell free to folow me on social media.
  </p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <div
      class="marquee__inner"
      data-text=" LETS TALK — LETS COLLABORATE — SAY HELLO — WANNA BE STARTING SOMETHING? "
    >
      <a href="https://www.instagram.com">- INSTAGRAM -</a>
      <a href="#">— FACEBOOK —</a>
      <a href="#">- GITHUB -</a>
    </div>
  </div>
  <div class="line-wrapper"></div>
  <div class="home__contact__email">
    <button class="email">romanospapanikolaou&#64;gmail.com</button>
    <div class="to-copy"><span>Click To Copy</span></div>
    <div class="copied-message">Copied to Clipboard</div>
  </div>
</section>
