<section id="contact" class="contact">
  <p class="home__contact">
    Wanna know everything about me? Fell free to folow me on social media.
  </p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <div class="marquee__inner">
      <span>-</span>

      <a target="_blank" href="https://www.facebook.com/romanos.papanikolaou/"
        >FACEBOOK</a
      >
      <span>-</span>
      <a target="_blank" href="https://www.instagram.com/romanospapanikolaou/"
        >INSTAGRAM</a
      >
      <span>-</span>
      <a target="_blank" href="https://github.com/romanospapanikolaou"
        >GITHUB</a
      >
      <span>-</span>
      <a target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >LINKEDIN</a
      >
      <span>-</span>

      <!-- Duplicate the links to create a continuous scrolling effect -->
      <a target="_blank" href="https://www.facebook.com/romanos.papanikolaou/"
        >FACEBOOK</a
      >
      <span>-</span>
      <a target="_blank" href="https://www.instagram.com/romanospapanikolaou/"
        >INSTAGRAM</a
      >
      <span>-</span>
      <a target="_blank" href="https://github.com/romanospapanikolaou"
        >GITHUB</a
      >
      <span>-</span>
      <a target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >LINKEDIN</a
      >
      <span>-</span>
    </div>
  </div>

  <div class="line-wrapper"></div>
</section>
