<section class="style-252">
  <p class="style-253">
    Got a question, proposal or project or want to work together on something?
    Feel free to reach out.
  </p>
  <div class="style-254">
    <span class="style-255"> <span class="style-256"></span> </span>
  </div>
  <!-- <div class="style-257">
    <a
      href="mailto:oluwadareseyii@gmail.com?subject=Lets%20work%20together!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
      class="style-258"
    >
      <div class="style-259">
        <span aria-hidden="true" class="style-260">
          <span
            class="style-261"
            TALK=""
            —=""
            LET’S=""
            COLLABORATE=""
            SAY=""
            HELLO=""
            WANNA=""
            BE=""
            STARTING=""
            aria-hidden="true"
          ></span>
          LET’S TALK — LET’S COLLABORATE — SAY HELLO — WANNA BE STARTING
          SOMETHING?</span
        >
        <span class="style-262">
          <span
            class="style-263"
            TALK=""
            —=""
            LET’S=""
            COLLABORATE=""
            SAY=""
            HELLO=""
            WANNA=""
            BE=""
            STARTING=""
            aria-hidden="true"
          ></span>
          LET’S TALK — LET’S COLLABORATE — SAY HELLO — WANNA BE STARTING
          SOMETHING?</span
        >
      </div>
    </a>
  </div> -->
  <div class="style-264">
    <span class="style-265"> <span class="style-266"></span> </span>
  </div>
  <div class="style-267">
    <button class="style-268">oluwadareseyii.com</button>
  </div>
</section>
