<section class="hero">
  <div></div>
  <div class="title-box">
    <div class="title-box-left">
      <div class="title-box-left-child" style="border: 1px solid #fff000">
        <span
          data-aos="fade-left"
          data-aos-duration="3000"
          data-aos-easing="ease-in-out"
          data-aos-delay="1000"
          class="hero-title"
        >
          FRONT</span
        >
      </div>
      <div class="title-box-left-child" style="border: 1px solid #fff000">
        <span
          data-aos="fade-right"
          data-aos-duration="3000"
          data-aos-easing="ease-in-out"
          data-aos-delay="2000"
          class="hero-title"
          >END</span
        >
      </div>
      <div class="title-box-left-child" style="border: 1px solid #fff000">
        <span
          data-aos="fade-up"
          data-aos-duration="3000"
          data-aos-easing="ease-in-out"
          class="hero-title"
          >DEVELOPER</span
        >
      </div>
    </div>
    <div style="float: right; width: 40%; height: 700px; overflow: auto">
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
      <p>items</p>
    </div>
  </div>
</section>
