.hero {
  display: block;
  height: 90vh;
  overflow-x: hidden;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 45px;
}

.hero__title__top {
  display: inline;
  justify-content: space-between;
}

.hero__title {
  font-size: 200px;
  font-weight: 900;
  letter-spacing: -15px;
  font-family: "Prompt", sans-serif;
}

.hero__title__bottom {
  display: inline-flex;
  width: 100%;
  height: 0;
  justify-content: space-between;
  margin-top: -250px;
}

.bottom__left {
  font-size: 200px;
  font-weight: 900;
  word-break: break-word;
  letter-spacing: -15px;
  font-family: "Prompt", sans-serif;
}
