<section class="hero">
  <div class="animate__animated animate__fadeIn animate__slower">
    <span>
      <span class="hero-title">FRONT</span>
      <span class="hero-title">END</span>
    </span>
    <div class="hero-line">
      <span class="hero-title">DEVELOPER</span>
      <div class="hero-side">
        <p class="animate__animated animate__fadeIn">
          <span class="hero-about">About</span>
          <span class="about-content"
            >I am a developer <br />based in Stockholm Sweden, <br />focused on
            creating interactive digital experiences on the web.</span
          >
        </p>
        <!-- <div class="hero-scroll">
          <p>Scroll down</p>
        </div> -->
      </div>
    </div>
  </div>
</section>
