<section class="hero">
  <div>
    <span>
      <span class="hero-title">FRONT</span>
      <span class="hero-title">END</span>
    </span>
    <div class="hero-line">
      <span class="hero-title">DEVELOPER</span>
      <div class="hero-side">
        <p>
          <span class="hero-about">About</span> &nbsp; I am a developer
          <br />based in Stockholm Sweden, <br />focused on creating interactive
          digital experiences on the web.
        </p>
        <!-- <div class="hero-scroll">
          <p>Scroll down</p>
        </div> -->
      </div>
    </div>
  </div>
</section>
