.hero {
  height: 80vh;
  box-sizing: border-box;
  display: block;
  padding: 0px 40px;
}

.hero-line {
  display: flex;
  justify-content: space-between;
}

.hero-title {
  letter-spacing: -22px;
  display: flex;
  transition: color 0.2s ease 0s;
  font: 800 450px / 350px "Bebas Neue", sans-serif;
}

.hero-side {
  opacity: 1;
  position: relative;
  z-index: 1;
  max-width: 550px;
  padding: 20px 0px 50px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
  margin: 0px;
}

.hero-about {
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 15px;
}
.about-content {
  display: flex;
  font-size: 50px;
}

.hero-scroll {
  margin-top: auto;
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: space-between;
  padding: 0px;
  font: 16px / 21px arial;
}

.animate__animated.animate__fadeIn {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
}
