.hero {
  position: fixed;
  display: flex;
  height: 90vh;
  box-sizing: border-box;
  top: 100px;
}

.hero-line {
  display: flex;
  justify-content: space-between;
}

.hero-title {
  display: flex;
  letter-spacing: -15px;
  line-height: 170px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-size: 200px;
}

/* .hero-side {
  opacity: 1;
  position: relative;
  z-index: 1;
  max-width: 550px;
  padding: 20px 0px 50px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
  margin: 0px;
}

.hero-about {
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 15px;
}
.about-content {
  display: flex;
  font-size: 50px;
}

.hero-scroll {
  margin-top: auto;
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: space-between;
  padding: 0px;
  font: 16px / 21px arial;
} */
