<section id="projects" class="about">
  <p class="home__about">Take a look of my projects!</p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <div class="marquee__inner">
      <span>-</span>

      <span
        target="_blank"
        href="https://www.facebook.com/romanos.papanikolaou/"
        >SOON</span
      >
      <span>-</span>
      <span
        target="_blank"
        href="https://www.instagram.com/romanospapanikolaou/"
        >TO</span
      >
      <span>-</span>
      <span target="_blank" href="https://github.com/romanospapanikolaou"
        >COME</span
      >
      <span>-</span>
      <span target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >UNDER</span
      >
      <span>-</span>
      <span target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >CONSTRUCTION</span
      >
      <span>-</span>

      <!-- Duplicate the links to create a continuous scrolling effect -->
      <span
        target="_blank"
        href="https://www.facebook.com/romanos.papanikolaou/"
        >SOON</span
      >
      <span>-</span>
      <span
        target="_blank"
        href="https://www.instagram.com/romanospapanikolaou/"
        >TO</span
      >
      <span>-</span>
      <span target="_blank" href="https://github.com/romanospapanikolaou"
        >COME</span
      >
      <span>-</span>
      <span target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >UNDER</span
      >
      <span>-</span>
      <span target="_blank" href="https://linkedin.com/in/romanos-papanikolaou"
        >CONSTRUCTION</span
      >
      <span>-</span>
    </div>
  </div>

  <div class="line-wrapper"></div>
</section>
