<section id="projects" class="about">
  <p class="home__about">Dive into the realm of my creativity!</p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <div class="marquee__inner">
      <span>-</span>

      <span>SOON</span>
      <span>-</span>
      <span>TO</span>
      <span>-</span>
      <span>COME</span>
      <span>-</span>
      <span>UNDER</span>
      <span>-</span>
      <span>CONSTRUCTION</span>
      <span>-</span>

      <!-- Duplicate the links to create a continuous scrolling effect -->
      <span>SOON</span>
      <span>-</span>
      <span>TO</span>
      <span>-</span>
      <span>COME</span>
      <span>-</span>
      <span>UNDER</span>
      <span>-</span>
      <span>CONSTRUCTION</span>
      <span>-</span>
    </div>
  </div>

  <div class="line-wrapper"></div>
</section>
