<section id="contact" class="contact">
  <p class="home__contact">
    Have a question, proposal, or project in mind? Let's collaborate! Don't
    hesitate to get in touch.
  </p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <div class="marquee__inner">
      <span>-</span>

      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Lets%20talk%20!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20talk...%20Reach%20out%20as%20soon%20as%20you%20can."
        style="text-decoration: none"
        >LETS TALK</a
      >
      <span>-</span>
      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Lets%20work%20together!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
        style="text-decoration: none"
        >LETS COLLABORATE</a
      >
      <span>-</span>
      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Say%20Hello!&amp;body=Hello%2C%20..."
        style="text-decoration: none"
        >SAY HELLO</a
      >
      <span>-</span>

      <!-- Duplicate the links to create a continuous scrolling effect -->

      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Lets%20talk%20!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20talk...%20Reach%20out%20as%20soon%20as%20you%20can."
        style="text-decoration: none"
        >LETS TALK</a
      >
      <span>-</span>
      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Lets%20work%20together!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
        style="text-decoration: none"
        >LETS COLLABORATE</a
      >
      <span>-</span>
      <a
        href="mailto:romanospapanikolaou@gmail.com?subject=Say%20Hello!&amp;body=Hello%2C%20..."
        style="text-decoration: none"
        >SAY HELLO</a
      >
      <span>-</span>
    </div>
  </div>

  <div class="line-wrapper"></div>

  <div class="home__contact__email">
    <button class="email">romanospapanikolaou&#64;gmail.com</button>
    <div class="to-copy"><span>Click To Copy</span></div>
    <div class="copied-message">Copied to Clipboard</div>
  </div>
</section>
