<section class="contact">
  <p class="home__contact">
    Got a question, proposal or project or want to work together on something?
    Feel free to reach out.
  </p>
  <div class="line-wrapper"></div>
  <div class="marquee">
    <a
      href="mailto:romanospapanikolaou@gmail.com?subject=Lets%20work%20together!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
      class="marquee__wrap"
    >
      <div class="marquee__inner">
        <span class="inner-span">
          LETS TALK — LETS COLLABORATE — SAY HELLO — WANNA BE STARTING
          SOMETHING?</span
        >
      </div>
    </a>
  </div>
  <div class="line-wrapper"></div>
  <div class="home__contact__email">
    <button class="email">romanospapanikolaou&#64;gmail.com</button>
    <div class="to-copy"><span>Click To Copy</span></div>
  </div>
</section>
