<body class="style-0">
  <main
    class="style-1"
    data-scroll-container=""
    data-scroll-section-id="section0"
    data-scroll-section-inview=""
  >
    <nav class="style-2">
      <div class="style-3">
        <div class="style-4" nav-anim="">
          <span class="style-5">
            Romanos <br class="style-6" />
            Papanikolaou</span
          >
        </div>
        <div class="style-7" nav-anim="">
          <span class="style-8">
            Frontend Developer <br class="style-9" />
            2024
          </span>
        </div>
      </div>
      <div class="style-10">
        <div class="style-11" nav-anim="">
          Frontend Developer <br class="style-12" />
          Folio / 2021 — 2023
        </div>
        <div class="style-13" nav-anim="">
          Available for <br class="style-14" />freelance work
        </div>
        <button class="style-15" nav-anim="">
          <span class="style-16">
            <span class="style-17">
              <span class="style-18"> contact </span>
              <span class="style-19"> contact </span>
            </span>
          </span>
        </button>
      </div>
    </nav>
    <section class="style-20">
      <div class="style-21">
        <h1 class="style-22">
          FRONT <br class="style-23" />
          —— END <br class="style-24" />
          DEVELOPER
        </h1>
        <h1 class="style-25">
          <div class="style-26" title-overflow="">
            <span
              class="style-27"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="7"
            >
              <span class="style-28">F</span>
              <span class="style-29">R</span>
              <span class="style-30">O</span>
              <span class="style-31">N</span>
              <span class="style-32">T</span>
            </span>
            <span class="style-33">——</span>
            <span class="style-34">——</span>
            <span
              class="style-35"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="-7"
            >
              <span class="style-36">E</span>
              <span class="style-37">N</span>
              <span class="style-38">D</span>
            </span>
          </div>
        </h1>
        <span class="style-39">
          <div class="style-40">
            <h1 class="style-41" title-overflow="">
              <span class="style-42">D</span>
              <span class="style-43">E</span>
              <span class="style-44">V</span>
              <span class="style-45">E</span>
              <span class="style-46">L</span>
              <span class="style-47">O</span>
              <span class="style-48">P</span>
              <span class="style-49">E</span>
              <span class="style-50">R</span>
            </h1>
            <div class="style-51">
              <p class="style-52">
                <span class="style-53">About</span> &nbsp; I am a developer
                based in Lagos, Nigeria focused on creating interactive digital
                experiences on the web, working with brands and industry leaders
                such as
                <span class="style-54">Disney,</span>
                <span class="style-55">Paystack,</span>
                <span class="style-56">Jelly,</span> and
                <span class="style-57">Null</span> amongst others to achieve
                this.
              </p>
              <div class="style-58">
                <p class="style-59">Scroll down</p>
                <div class="style-60">
                  <span class="style-61">
                    <span class="style-62">
                      <span class="style-63">
                        <svg
                          width="20"
                          height="21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="style-64"
                        >
                          <path
                            d="M10.833 13.977l4.47-4.47 1.179 1.178L10 17.167l-6.482-6.482 1.179-1.178 4.47 4.47V3.833h1.666v10.144z"
                            fill="#777"
                            class="style-65"
                          ></path>
                        </svg>
                      </span>
                      <span class="style-66">
                        <svg
                          width="20"
                          height="21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="style-67"
                        >
                          <path
                            d="M10.833 13.977l4.47-4.47 1.179 1.178L10 17.167l-6.482-6.482 1.179-1.178 4.47 4.47V3.833h1.666v10.144z"
                            fill="#777"
                            class="style-68"
                          ></path>
                        </svg>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </section>

    <!-- <section class="style-252">
      <p class="style-253">
        Got a question, proposal or project or want to work together on
        something? Feel free to reach out.
      </p>
      <div class="style-254">
        <span class="style-255"> <span class="style-256"></span> </span>
      </div>
      <div class="style-257">
        <a
          href="mailto:oluwadareseyii@gmail.com?subject=Lets%20work%20together!&amp;body=Hello%2C%20I%20think%20we%20need%20you%20to%20work%20on%2Fcollaborate%20this%20particular%20product...%20Reach%20out%20as%20soon%20as%20you%20can."
          class="style-258"
        >
          <div class="style-259">
            <span aria-hidden="true" class="style-260">
              <span
                class="style-261"
                TALK=""
                —=""
                LET’S=""
                COLLABORATE=""
                SAY=""
                HELLO=""
                WANNA=""
                BE=""
                STARTING=""
                aria-hidden="true"
              ></span>
              LET’S TALK — LET’S COLLABORATE — SAY HELLO — WANNA BE STARTING
              SOMETHING?</span
            >
            <span class="style-262">
              <span
                class="style-263"
                TALK=""
                —=""
                LET’S=""
                COLLABORATE=""
                SAY=""
                HELLO=""
                WANNA=""
                BE=""
                STARTING=""
                aria-hidden="true"
              ></span>
              LET’S TALK — LET’S COLLABORATE — SAY HELLO — WANNA BE STARTING
              SOMETHING?</span
            >
          </div>
        </a>
      </div>
      <div class="style-264">
        <span class="style-265"> <span class="style-266"></span> </span>
      </div>
      <div class="style-267">
        <button class="style-268">oluwadareseyii.com</button>
        <div class="style-269">
          <span class="style-270">Click To Copy</span>
        </div>
      </div>
    </section>
    <footer class="style-271">
      <div class="style-272">
        <div class="style-273">
          <div class="style-274">
            <div class="style-275">
              <a
                href="https://twitter.com/seyi__xo"
                target="_blank"
                rel="noopener noreferrer"
                class="style-276"
              >
                <span class="style-277">
                  <span class="style-278">
                    <span class="style-279"> Twitter </span>
                    <span class="style-280"> Twitter </span>
                  </span>
                </span>
              </a>
              <a
                href="https://www.instagram.com/seyii.dare/"
                target="_blank"
                rel="noopener noreferrer"
                class="style-281"
              >
                <span class="style-282">
                  <span class="style-283">
                    <span class="style-284"> INSTAGRAM </span>
                    <span class="style-285"> INSTAGRAM </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="style-286">
            <div class="style-287">
              <a
                href="https://github.com/oluwadareseyi"
                target="_blank"
                rel="noopener noreferrer"
                class="style-288"
              >
                <span class="style-289">
                  <span class="style-290">
                    <span class="style-291"> GITHUB </span>
                    <span class="style-292"> GITHUB </span>
                  </span>
                </span>
              </a>
              <a
                href="https://www.linkedin.com/in/oluwadareseyi/"
                class="style-293"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="style-294">
                  <span class="style-295">
                    <span class="style-296"> LINKEDIN </span>
                    <span class="style-297"> LINKEDIN </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="style-298">
        <p class="style-299">LAGOS, NG</p>
        <div class="style-300">
          <a
            class="style-301"
            title="time now"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
          - <span class="style-302">22:15</span>
        </div>
      </div>
      <p class="style-303">
        Design by
        <a
          href="https://fayemi.design/"
          target="_blank"
          rel="noopener noreferrer"
          class="style-304"
        >
          Isaac Fayemi
        </a>
      </p>
    </footer>
  </main>
  <span class="style-305"><span class="style-306"></span></span>
</body> -->
  </main>
</body>
