* {
  background: #111;
}

/* Media Query for Laptops/Desktops (1800px and above) */
@media (min-width: 1800px) {
}

/* Media Query for Laptops/Desktops (1024px and 1650px) */
@media (min-width: 1024px) and (max-width: 1650px) {
  .hero-title {
    font: 800 250px / 190px "Bebas Neue", sans-serif !important;
  }

  .hero-side {
    line-height: 15px !important;
  }

  .about-content {
    font-size: 25px !important;
  }
}

/* Media Query for Laptops/Desktops (350px and 1024px) */
@media (min-width: 350px) and (max-width: 1024px) {
  .hero-title {
    font: 500 120px / 130px "Bebas Neue", sans-serif !important;
  }

  .hero-side {
    line-height: 10px !important;
  }

  .about-content {
    font-size: 15px !important;
    display: none !important;
  }
  .hero-about {
    display: none !important;

    font-size: 12px !important;
  }
  .hero-title {
    letter-spacing: -12px !important;
  }
  .footer-right {
    display: none !important;
  }
  .header {
    font-size: 12px !important;
  }

  .header-left {
    display: none !important;
  }
}
