* {
  background: #111;
}

@media screen and (min-width: 350px) and (max-width: 765px) {
  /* Styles for screens between 500px and 800px */

  .header {
    display: flex !important;
    flex-direction: column !important;
  }
  .available {
    display: none !important;
  }
  .portofolio {
    display: none !important;
  }

  .header-left {
    font-size: 16px !important;
  }
  .header-right {
    width: 75% !important;
    font-size: 16px !important;
    padding-top: 10px;
  }
  .hero {
    height: auto !important;
  }

  .hero__title__top {
    margin-bottom: 50px;
    display: block !important;
  }
  .hero__title {
    font-size: 18vh !important;
    /* display: none !important; */
    margin-right: 40px !important;
  }

  .hero__title__left {
    font-size: 18vh !important;
    word-break: break-all;
  }
  .hero__title__right {
    font-size: 18svh !important;
  }

  .hero__title__bottom {
    display: block !important;
  }
  .hero__title__down {
    margin-top: -100px;

    font-size: 18vh !important;
    word-break: break-all;
  }

  .bottom__right__text {
    font-size: 30px !important;
    margin-bottom: 140px;
    margin-top: -50px;
  }
  .bottom__right {
    align-items: center !important;
    max-width: 100% !important;
  }
  .scroll {
    display: none !important;
  }

  .arrow {
    display: none !important;
  }
  .contact {
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .email {
    font-size: 18px !important;
  }
  .home__contact {
    font-size: 22px !important;
  }
  .home__about {
    font-size: 22px !important;
  }
  .marquee__inner {
    font-size: 12vh !important;
  }
}

@media screen and (min-width: 765px) and (max-width: 1105px) {
  .available {
    display: none !important;
  }
}
